In [ ]:
# Big O Notation O()
#  Time Complexity - SpaceComplexity

In [2]:
def bigon(n):
    for i in range(0,n):
        print(i)

In [3]:
bigon(6)

0
1
2
3
4
5

In [19]:
def bigon2(n):
    for i in range(0,n):
        for j in range(0,n):
            print(i,j)

In [20]:
bigon2(5)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [21]:
def bigon3(n):
    for i in range(0,n):
        for j in range(0,n):
            for k in range(0,n):
                print(i,j,k)

In [22]:
bigon3(5)

0 0 0
0 0 1
0 0 2
0 0 3
0 0 4
0 1 0
0 1 1
0 1 2
0 1 3
0 1 4
0 2 0
0 2 1
0 2 2
0 2 3
0 2 4
0 3 0
0 3 1
0 3 2
0 3 3
0 3 4
0 4 0
0 4 1
0 4 2
0 4 3
0 4 4
1 0 0
1 0 1
1 0 2
1 0 3
1 0 4
1 1 0
1 1 1
1 1 2
1 1 3
1 1 4
1 2 0
1 2 1
1 2 2
1 2 3
1 2 4
1 3 0
1 3 1
1 3 2
1 3 3
1 3 4
1 4 0
1 4 1
1 4 2
1 4 3
1 4 4
2 0 0
2 0 1
2 0 2
2 0 3
2 0 4
2 1 0
2 1 1
2 1 2
2 1 3
2 1 4
2 2 0
2 2 1
2 2 2
2 2 3
2 2 4
2 3 0
2 3 1
2 3 2
2 3 3
2 3 4
2 4 0
2 4 1
2 4 2
2 4 3
2 4 4
3 0 0
3 0 1
3 0 2
3 0 3
3 0 4
3 1 0
3 1 1
3 1 2
3 1 3
3 1 4
3 2 0
3 2 1
3 2 2
3 2 3
3 2 4
3 3 0
3 3 1
3 3 2
3 3 3
3 3 4
3 4 0
3 4 1
3 4 2
3 4 3
3 4 4
4 0 0
4 0 1
4 0 2
4 0 3
4 0 4
4 1 0
4 1 1
4 1 2
4 1 3
4 1 4
4 2 0
4 2 1
4 2 2
4 2 3
4 2 4
4 3 0
4 3 1
4 3 2
4 3 3
4 3 4
4 4 0
4 4 1
4 4 2
4 4 3
4 4 4

In [23]:
import math
def logn(n):
    while n>1:
        n=math.floor(n/2)
        print(n)

In [25]:
logn(32)

16
8
4
2
1

In [28]:
def nlogn(n):
    lim=n
    while n>1:
        n=math.floor(n/2)
        for i in range(1,lim):
            print(i)

In [29]:
nlogn(16)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
def nfactorial(n):
    if n==0:
        print("1")
        return
    else:
        for i in range(0,n):
            print(i)
            nfactorial(n-1) #recursive